body {
    /* 画像ファイルの指定 */
    background-image: url(back.png);
        
    /* 画像を常に天地左右の中央に配置 */
    background-position: center center;
        
    /* コンテンツの高さが画像の高さより大きい時、動かないように固定 */
    background-attachment: fixed;
        
    /* 背景画像が読み込まれる前に表示される背景のカラー */
    background-color: #464646;
}